### Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.8/site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

### Reading in files

In [3]:
data_dict = pd.read_excel('../data/Data_Dictionary.xlsx')
smile_on = pd.read_csv('../data/SmileOn11.28.2020.csv', sep = ',', encoding='gbk', skiprows = 2, low_memory=False)
prov_out = pd.read_csv("../data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv", low_memory= False)
bill = pd.read_csv("../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv", low_memory=False)
city_info = pd.read_csv("../data/500_Cities__Local_Data_for_Better_Health__2019_release.csv")
apc = pd.read_excel('../data/2020_October_Web_Addendum_A.10212020.xlsx', skiprows = 1)
hcpcs = pd.read_excel('../data/2020_October_Web_Addendum_B.10212020.xlsx', skiprows = 2)

### EDA on data_dict

In [4]:
data_dict.head(2)

           CallReportNum unique ID number for each call report form submission
0          ReportVersion  There are two report versions, Registration or...
1  LinkedToCallReportNum            This was intended to link call reports.

### EDA on smile_on

In [5]:
smile_on["SMILE ON 60+ Site Information - Enroller Location"].value_counts()

Provider Site           23304
Health Assist Office     2573
Tooth Wisdom             1351
Outreach                  239
Senior Center             216
Name: SMILE ON 60+ Site Information - Enroller Location, dtype: int64

In [6]:
so_1 = smile_on[['CallReportNum', 'ReportVersion', 'CallerNum', 'CityName','CountyName', 'PostalCode','EnteredOn','Birth Year', 'SMILE ON 60+ Screening - Last Screening Date', 'SMILE ON 60+ Oral Care Encounter - What care was provided to the enrollee? (Select all that apply)', 'SMILE ON 60+ Site Information - Enroller ID', 'SMILE ON 60+ Site Information - Enroller Location', 'SMILE ON 60+ Treatment Plan - Is the treatment plan completed?', 'SMILE ON 60+ Treatment Plan - Was a treatment plan developed?', 'SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and "social six" esthetics (top front six teeth are present and disease free)', 'SMILE ON 60+ Verification of Eligibility - Transportation Arranged', 'SMILE ON 60+ Verification of Eligibility - Verification of Eligibility']]

In [7]:
so_1 = so_1[(so_1['CallerNum'] != -1) & (so_1['CallerNum'] != -2)]

In [8]:
so_1['PostalCode'] = so_1['PostalCode'].astype(str)

In [9]:
so_1[['DateEntered','Time']] = so_1.EnteredOn.str.split(" ", expand=True)

In [10]:
so_1.head(2)

,CallReportNum,ReportVersion,CallerNum,CityName,CountyName,PostalCode,EnteredOn,Birth Year,SMILE ON 60+ Screening - Last Screening Date,SMILE ON 60+ Oral Care Encounter - What care was provided to the enrollee? (Select all that apply),SMILE ON 60+ Site Information - Enroller ID,SMILE ON 60+ Site Information - Enroller Location,SMILE ON 60+ Treatment Plan - Is the treatment plan completed?,SMILE ON 60+ Treatment Plan - Was a treatment plan developed?,"SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and ""social six"" esthetics (top front six teeth are present and disease free)",SMILE ON 60+ Verification of Eligibility - Transportation Arranged,SMILE ON 60+ Verification of Eligibility - Verification of Eligibility,DateEntered,Time
0,81381827,SMILE ON 60+ Registration,3859874,Springfield,Robertson,37172.0,11/25/2020 16:48,1957,NaN,NaN,Matthew Walker Comprehensive Health Center Inc...,Provider Site,NaN,NaN,NaN,NaN,NaN,11/25/2020,16:48
1,81379177,SMILE ON 60+ Registration,3859755,Nashville,Davidson,37212.0,11/25/2020 15:55,1943,NaN,NaN,NaN,Health Assist Office,NaN,NaN,NaN,NaN,NaN,11/25/2020,15:55

In [11]:
so_1 = so_1[['CallReportNum', 'ReportVersion', 'CallerNum', 'CityName','CountyName', 'PostalCode','Birth Year', 'SMILE ON 60+ Screening - Last Screening Date', 'SMILE ON 60+ Oral Care Encounter - What care was provided to the enrollee? (Select all that apply)', 'SMILE ON 60+ Site Information - Enroller ID', 'SMILE ON 60+ Site Information - Enroller Location', 'SMILE ON 60+ Treatment Plan - Is the treatment plan completed?', 'SMILE ON 60+ Treatment Plan - Was a treatment plan developed?', 'SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and "social six" esthetics (top front six teeth are present and disease free)', 'SMILE ON 60+ Verification of Eligibility - Transportation Arranged', 'SMILE ON 60+ Verification of Eligibility - Verification of Eligibility', 'DateEntered']]

In [12]:
pd.to_numeric(so_1.PostalCode.notna(), downcast= 'signed')

0        True
1        True
2        True
3        True
5        True
         ...
40011    True
40021    True
40026    True
40028    True
40029    True
Name: PostalCode, Length: 39952, dtype: bool

In [13]:
so_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39952 entries, 0 to 40029
Data columns (total 17 columns):
 #   Column                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                   --------------  -----
 0   CallReportNum                                                                                                                                                            39952 non-null  int64
 1   ReportVersion                                                                                                                                                            39952 non-null  object
 2   CallerNum                                                                                                                                                                39952 non-null  int64
 3   CityName                                                                                                                                                                 39395 non-null  object
 4   CountyName                                                                                                                                                               39638 non-null  object
 5   PostalCode                                                                                                                                                               39952 non-null  object
 6   Birth Year                                                                                                                                                               39952 non-null  object
 7   SMILE ON 60+ Screening - Last Screening Date                                                                                                                             14831 non-null  object
 8   SMILE ON 60+ Oral Care Encounter - What care was provided to the enrollee? (Select all that apply)                                                                       24837 non-null  object
 9   SMILE ON 60+ Site Information - Enroller ID                                                                                                                              32729 non-null  object
 10  SMILE ON 60+ Site Information - Enroller Location                                                                                                                        27617 non-null  object
 11  SMILE ON 60+ Treatment Plan - Is the treatment plan completed?                                                                                                           17534 non-null  object
 12  SMILE ON 60+ Treatment Plan - Was a treatment plan developed?                                                                                                            17022 non-null  object
 13  SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and "social six" esthetics (top front six teeth are present and disease free)  14272 non-null  object
 14  SMILE ON 60+ Verification of Eligibility - Transportation Arranged                                                                                                       5823 non-null   object
 15  SMILE ON 60+ Verification of Eligibility - Verification of Eligibility                                                                                                   8715 non-null   object
 16  DateEntered                                                                                                                                                              39952 non-null  object
dtypes: int64(2), object(15)
memory usage: 5.5+ MB

In [14]:
so_1.head(1)

,CallReportNum,ReportVersion,CallerNum,CityName,CountyName,PostalCode,Birth Year,SMILE ON 60+ Screening - Last Screening Date,SMILE ON 60+ Oral Care Encounter - What care was provided to the enrollee? (Select all that apply),SMILE ON 60+ Site Information - Enroller ID,SMILE ON 60+ Site Information - Enroller Location,SMILE ON 60+ Treatment Plan - Is the treatment plan completed?,SMILE ON 60+ Treatment Plan - Was a treatment plan developed?,"SMILE ON 60+ Treatment Plan - Was the enrollee able to be restored to function (can chew) and ""social six"" esthetics (top front six teeth are present and disease free)",SMILE ON 60+ Verification of Eligibility - Transportation Arranged,SMILE ON 60+ Verification of Eligibility - Verification of Eligibility,DateEntered
0,81381827,SMILE ON 60+ Registration,3859874,Springfield,Robertson,37172.0,1957,NaN,NaN,Matthew Walker Comprehensive Health Center Inc...,Provider Site,NaN,NaN,NaN,NaN,NaN,11/25/2020

### EDA on prov_out : Provider Outpatient

In [15]:
prov_out=prov_out[prov_out["Provider_State"].isin(["TN"])]
prov_out.head(2)

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
49863,440001,Unicoi County Memorial Hospital,Greenway Circle,Erwin,TN,37650,TN - Johnson City,8011,Comprehensive Observation Services,16,16,"9,972.38","1,824.38","1,453.57",0,0.00
49864,440002,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301,TN - Jackson,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,517,532,"5,914.08","1,079.42",855.41,NaN,NaN

### EDA on bill : Medicare Provider

In [16]:
bill=bill[bill["State Code of the Provider"].isin(["TN"])]
bill.head(10)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
415,1003002254,WALGREEN CO.,NaN,NaN,NaN,NaN,O,5104 BOBBY HICKS HWY,NaN,GRAY,...,90653,Vaccine for influenza for injection into muscle,Y,53,53,53,40.468867925,40.59,39.661132075,39.661132075
416,1003002254,WALGREEN CO.,NaN,NaN,NaN,NaN,O,5104 BOBBY HICKS HWY,NaN,GRAY,...,90662,Vaccine for influenza for injection into muscle,Y,95,95,95,40.59,40.59,39.78,39.78
417,1003002254,WALGREEN CO.,NaN,NaN,NaN,NaN,O,5104 BOBBY HICKS HWY,NaN,GRAY,...,90670,Pneumococcal vaccine for injection into muscle,Y,18,18,18,190.06666667,205.59,186.26777778,186.26777778
418,1003002254,WALGREEN CO.,NaN,NaN,NaN,NaN,O,5104 BOBBY HICKS HWY,NaN,GRAY,...,G0008,Administration of influenza virus vaccine,N,162,161,162,19.4,19.4,19.01,25.32
419,1003002254,WALGREEN CO.,NaN,NaN,NaN,NaN,O,5104 BOBBY HICKS HWY,NaN,GRAY,...,G0009,Administration of pneumococcal vaccine,N,21,21,21,19.4,19.4,19.01,25.32
1746,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,31500,Emergent insertion of breathing tube into wind...,N,15,14,15,137.38,311.46666667,107.7,114.51
1747,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,32555,Removal of fluid from chest cavity with imagin...,N,29,20,29,110.56,368.10344828,86.68,89.863793103
1748,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,36556,Insertion of central venous catheter for infus...,N,23,23,23,117.47,298.86956522,92.1,97.92
1749,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,71020,"X-ray of chest, 2 views, front and side",N,13,12,13,26.04,67.384615385,17.27,19.159230769
1750,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,76937,Ultrasound guidance for accessing into blood v...,N,14,14,14,14.05,33.142857143,11.02,11.54

In [17]:
bill.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

### EDA on city_info

In [18]:
city_info.head(2)

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,GA,Georgia,Savannah,Census Tract,BRFSS,Prevention,1369000-13051004002,Visits to doctor for routine checkup within th...,%,...,75.5,NaN,NaN,"3,697","(32.0005963715, -81.1016216322)",PREVENT,CHECKUP,1369000.0,1.305100e+10,Annual Checkup
1,2017,HI,Hawaii,Honolulu,Census Tract,BRFSS,Health Outcomes,15003003101,Coronary heart disease among adults aged >=18 ...,%,...,5.6,NaN,NaN,"3,687","(21.3258064243, -157.793873751)",HLTHOUT,CHD,15003.0,1.500300e+10,Coronary Heart Disease

In [21]:
city_info=city_info[city_info['StateAbbr']]=='TN'

KeyError: "None of [Index(['GA', 'HI', 'GA', 'GA', 'HI', 'GA', 'IL', 'ID', 'HI', 'GA',\n       ...\n       'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WI', 'WY', 'WI'],\n      dtype='object', length=810103)] are in the [index]"

### EDA on apc

In [19]:
apc.head(2)

,APC,Group Title,SI,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,"Note: Actual copayments would be lower due to the cap on copayments at the Inpatient Deductible of $1,408.00",* Indicates a Change
0,701,Sr89 strontium,K,NaN,2045.702,.,409.15,NaN,*
1,726,Dexrazoxane HCl injection,K,NaN,199.929,.,39.99,NaN,*

### EDA on hcpcs

In [20]:
hcpcs.head(2)

,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,"Note: Actual copayments would be lower due to the cap on copayments at the Inpatient Deductible of $1,408.00",* Indicates a Change
0,0001F,Heart failure composite,E1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001U,Rbc dna hea 35 ag 11 bld grp,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN